<h1>RX JS Operators</h1>

Buscar : <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearch($event)">

@if (errorMessage) {
<p class="alert-danger">
  {{errorMessage}}
</p>
}@else {
  <div class="cards">
  @for (product of products(); track $index) {
    <article class="card">
      <header>
        <h2>{{product.name}}</h2>
      </header>
      <img
        [src]="product.image"
        [alt]="product.name" />
      <div class="content">
        <p>{{product.description}}</p>
        <p><strong>{{product.price}}</strong></p>
      </div>
    </article>
  }
  </div>
}

